@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, body, h1, h2, h3, h4, p, div {
  background-color: #282C32;
  color: #99a9af;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: monospace;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}

.code-view {
  border-radius: 10pt;
  background-color: #1E2024;
  color: #FFC;
  padding: 18pt;
  width: 80%;
  max-width: 500px;
  margin: auto;
  text-align: left;
  box-shadow: inset 0px -5px 10px #0006;
}

.Aligner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 960px) {
  .Aligner {
    display: flex; /* Change display to flex */
    flex-wrap: wrap; /* Add this line */
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    margin: auto; /* Center using flexbox */
  }
  .Card {
    max-width: 440px;
    margin: 5px auto; /* Center each card */
  }
}

@media (max-width: 800px) {
  .Aligner {
    grid-template-columns: 1fr;
  }
  .Card {
    max-width: 800px;
  }
}

.Card {
  text-align: center;
  padding: 10pt;
  border: 1px solid #FFF1;
  border-radius: 12pt;
  margin: 5px;
  height: 340px;
  max-width: 320px;
}

.Version {
  color: #8f8f8f;
  font-size: 10pt;
}

.Centered {
  text-align: center;
}

.Button
{
  padding: 1em;
  border-radius: 7px;
  border: 1px solid #FFF1;
}

a.Button:hover
{
  background-color: #E0F1FA;
  color: #282C32;
}

.ButtonContainer
{
  padding: 1em;
}

a
{ text-decoration: none; }
a:link, a:hover, a:active
{ color: #E0F1FA; }
a:visited
{ color: #D0E1EA; }

.fas, .fa {
  color: rgba(37,136,166,0.5);
}
