@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  color: black;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 80%;
}

.Version {
  color: #8f8f8f;
  font-size: 10pt;
}

.Centered {
  text-align: center;
}

.Button {
  padding: 1em;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.5);
}

.ButtonContainer {
  padding: 1em;
}

a { text-decoration: none; }
a:link    { color: #181818; }
a:visited { color: #282828; }
a:hover   { color: #181818; }
a:active  { color: #181818; }
