@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, body, h1, h2, h3, h4, p, div {
  background-color: #282C32;
  color: #99a9af;
  font-family: 'Montserrat', sans-serif;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .Aligner {
    display: block;
  }
}

.Aligner-item, .Card{
  text-align: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #FFF1;
  border-radius: 7px;
  margin: 5px;
  height: 360px;
}

@media (max-width: 800px) {
  .Aligner-item, .Card{
    width: auto;
  }
}

.Version {
  color: #8f8f8f;
  font-size: 10pt;
}

.Centered {
  text-align: center;
}

.Button
{
  padding: 1em;
  border-radius: 7px;
  border: 1px solid #FFF1;
}

a.Button:hover
{
  background-color: #E0F1FA;
}

.ButtonContainer
{
  padding: 1em;
}

a
{ text-decoration: none; }
a:link, a:hover, a:active
{ color: #E0F1FA; }
a:visited
{ color: #D0E1EA; }

.fas, .fa {
  color: rgba(37,136,166,0.5);
}
