  <item>
    <title>{{version}}</title>
    <pubDate>{{date}}</pubDate>
    <sparkle:minimumSystemVersion>10.11</sparkle:minimumSystemVersion>
    <enclosure url="https://github.com/ocodo/CutBox/releases/download/{{version}}/CutBox.dmg"
               sparkle:version="{{build_number}}"
               sparkle:shortVersionString="{{version}}"
               length="{{dmg_length}}"
               type="application/octet-stream"
               sparkle:dsaSignature="{{dsa_signature}}"/>
  </item>
