<!DOCTYPE html>
<html>
  <head>
    <title>CutBox</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="css/style.css"
          type="text/css"
          media="screen">
  </head>
  <body>
    <div class="Centered">
      <img src="./images/cutbox-icon-2-preview.png"/>
      <p>Make your macOS pasteboard awesome with...</p>
      <img src="./images/cutbox-logo-text.png"/>
      <h2>Install CutBox using homebrew:</h2>
      <p>
      <pre class="code-view">brew tap cutbox/cutbox
brew install --cask cutbox</pre>
      </p>

    </div>

    <div class="Aligner">
      <div class="Card">
          <h3>Search pasteboard history</h3>
          <i class="fa fa-search" style="font-size:120px"></i>
          <p>Search your pasteboard history.</p>
          <p>Find everything fast and easily.</p>
      </div>

      <div class="Card">
          <h3>Quick and Easy</h3>
          <i class="fas fa-paste" style="font-size:120px"></i>
          <p>Activate with a global shortcut and search/paste immediately.</p>
          <p>Paste multiple items at once.</p>
      </div>

      <div class="Card">
          <h3>Scriptable</h3>
          <i class="fas fa-robot" style="font-size:120px"></i>
          <p>Transform pasted text through any language</p>
          <p class="ButtonContainer"><a class="Button" href="https://github.com/cutbox/CutBox/wiki/Javascript-support-in-CutBox">Read more...</a></p>
      </div>
      <div class="Card">
          <h3>Themeable</h3>
          <i class="fas fa-palette" style="font-size:120px"></i>
          <p>Customize the color theme for your comfort</p>
          <p><a href="https://github.com/cutbox/CutBox/wiki/Color-themes">Several themes built in</a></p>
      </div>
      <div class="Card">
          <h3>Multilingual</h3>
          <i class="fas fa-globe" style="font-size:120px"></i>
          <p>Available in English, ไทย, Deutsch, 日本語, Español, 한국어, 中文, Français.</p>
      </div>
      <div class="Card">
          <h3>For Devs</h3>
          <i class="fas fa-cogs" style="font-size:120px"></i>
          <p>Designed for developers from day one</p>
      </div>
    </div>

    <div class="Centered">
       <h3>Please consider making donation</h3>
       <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="jasonm23@gmail.com">
            <input type="hidden" name="no_recurring" value="0">
            <input type="hidden" name="item_name" value="Support CutBox development">
            <input type="hidden" name="item_number" value="CutBox needs your support">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">
            <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
          </form>
      <a href="documentation.html"><h1>Read the docs...</h1></a>
      <p><a href="https://github.com/cutbox/CutBox"><i class="fab fa-github" style="font-size:20px"></i> CutBox on GitHub</a></p>
      <p><a href="https://gitter.im/CutBox"><i class="fab fa-gitter" style="font-size:20px"></i> Chat on Gitter</a></p>
      <p class="Version">version ${VER}</p>
    </div>
  </body>
</html>

