<!DOCTYPE html>
<html>
  <head>
    <title>CutBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="Centered">
      <img src="./images/cutbox-icon-2-preview.png"/>
      <h1>CutBox</h1>
      <p>Making your pasteboard awesome.</p>
      <p class="ButtonContainer"><a class="Button" href="https://github.com/ocodo/CutBox/releases/download/{{version}}/CutBox.dmg">Download CutBox</a></p>
    </div>

    <div class="Aligner">
      <div class="Card">
          <h3>Search pasteboard history</h3><br>
          <i class="fa fa-search" style="font-size:120px"></i>
          <p>Find text in your pasteboard history using fuzzy search or regular expressions. Find everything fast and easily.</p>
      </div>

      <div class="Card">
          <h3>Quick and Easy</h3><br>
          <i class="fas fa-paste" style="font-size:120px"></i>
          <p>Activate with a global shortcut and search/paste immediately.</p>
          <p>Paste multiple items at once.</p>
      </div>

      <div class="Card">
          <h3>Customization</h3><br>
          <i class="fas fa-cogs" style="font-size:120px"></i>
          <p>Transform pasted text through Javascript</p>
          <p>Customize color theme</p>
          <p>Optional Compact user-interface.</p>
      </div>
    </div>

    <div class="Centered">
      <p class="ButtonContainer"><a class="Button" href="https://github.com/ocodo/CutBox/releases/download/{{version}}/CutBox.dmg">Download CutBox</a></p>
      <p><a href="https://github.com/ocodo/CutBox"><i class="fab fa-github" style="font-size:20px"></i> CutBox on GitHub</a></p>
      <p><a href="https://gitter.im/CutBox"><i class="fab fa-gitter" style="font-size:20px"></i> Chat on Gitter</a></p>
      <p class="Version">version {{version}}</p>
    </div>
  </body>
</html>
